<!DOCTYPE html>

<html>
	<head>
	<title>Login</title>
	</head>
	
	<body>
		<form action="/onLogin" method="POST">
			Benutzername: <input type="text"  name="username"> <br>
			Passwort: <input type="text" name="password"> <br>
			<button type="submit">Anmelden</button>

		</form>
	</body>

</html>