<!DOCTYPE html>
    <head>

        <title><%= title %></title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/template.css' />
        
    </head>

    <body>

            <header>
                    <h1>Persönliche Bilanz: variable</h1>
                    <h1>Geasmtausgaben: variable</h1>
                
            </header>