<!DOCTYPE html>
    <head>

        <title><%= title %></title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/template.css' />
        
    </head>

    <body>

            <header>  
                    <div class="bilanzArea"> 
                        <h1>Persönliche Bilanz: data_from_table</h1>
                        <h1>Gesamtausgaben: data_from_table</h1>
                    </div>
                    <div class="userArea">
                        
                        <a href='/nutzerBearbeiten'><%= userName %></a></br>
                        <a style='text-decoration-line: underline;' href='/logout'>Logout</a>
                        

                    </div>
                
            </header>