<!DOCTYPE HTML>
<html>
    <head>
        <title>Errors</title>
    </head>
    <body>
        Ein paar Fehler sind passiert:
        <br>
        <ul>
            <% for(var i = 0; i < error.length; i++) { %>
                <li><%= error[i]%></li>
            <% } %>
        </ul>
        <br>
        <a href=<%= url %>>Zurück zu: <%= pageName %></a>
    </body>
</html>