<!DOCTYPE html>
<html>
	<head>

		<title><%= title %></title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/template.css' />
		
	</head>

	<body>	
			<div class="main box">
				<a id= "LoginLabel" href=/login>Login</a>
				<a href=/Registrieren>Registrieren</a>
			</div>
	</body>

</html>