<!DOCTYPE html>
<html>
	<head>

		<title><%= title %></title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/template.css' />
		
	</head>

	<body>	
			<div class="main box">
                <h1><%= userName %> wurde erfolgreich Ausgelogged!</h1>
                <h1>Vielen Dank und bis zur nächsten Reise!</h1>
			</div>
	</body>

</html>