<% include partials/header %>
    <div class="main">
        <h1><%= title %></h1>

        <ul>

                <% reisen.forEach(element => { %>
                    <li><%= element %></li>
                <% }) %>
        

        <a href="/neueReise">Neue Reise</a>

        </ul>

    </div>

<% include partials/footer %>