<% include partials/headerLoggedIn %>
    <div class="main">
        <h1><%= title %></h1>

        <ul>

                <% reisen.forEach(element => { %>
                    <li><%= element.reise_name %> <a href='/reiseBearbeiten/:<%= element.reise_id %>'>    -> </a></li>
                    
                <% }) %>
        

        <a href="/neueReise">Neue Reise</a>

        </ul>

    </div>

<% include partials/footer %>