<% include partials/headerLoggedIn %>
    <div class="main">
        <h2>Neue Reise:</h2>

        <form action="./neueMitglieder" method="post">
            <div>
                <h3>Mitglieder per Mail hinzufügen: </h3>
                <input type="email" name="addresse0"></br>
                <input type="email" name="addresse1"></br>
                <input type="email" name="addresse2"></br>
                <input type="email" name="addresse3"></br>
                <input type="email" name="addresse4"></br>
                <input type="email" name="addresse5"></br>
                
                <input type="submit" value="Bestätigen" name="bestätigen">

            </div>

        </form>
    
    </div>

<% include partials/footer %>