<% include partials/header %>
    <div class="main">
        <h2>Neue Reise:</h2>

        <form action="neueReise/name" method="post">
            <div>
                <h3>Name der Reise: </h3>
                <input type="text" name="neuerName">
                <input type="submit" value="Bestätigen" name="bestätigen">

            </div>

        </form>
    
    </div>

<% include partials/footer %>
   
        
    