<% include partials/header %>

	<div class="main">
		<form action="registrieren/onRegistration" method="POST">
			Name: <input type="text"  name="name"> <br>
			Vorname: <input type="text"  name="vname"> <br>
			E-mail: <input type="text"  name="email"> <br>
			Benutzername: <input type="text"  name="username"> <br>
			Passwort: <input type="text"  name="password"> <br>
			Passwort wiederholen: <input type="text"  name="pwrepeat"> <br>
			
			  <button type="submit" id="ok">okay</button>
			  
			  
		</form>
	</div>
	
<% include partials/footer %>