<% include partials/headerLoggedIn %>
    <div class="main">
        <h1>Name der Reise: <%= title %></h1>

        <h1>Mitglieder: </h1>

        

                
        

        <a href="/neueReise">Neue Reise</a>

        

    </div>

<% include partials/footer %>